$tablet-min-width: 640px;
$desktop-min-width: 1024px;
$desktopLarge-min-width: 1280px;
$main-bg-color: #ffeefc;
$main-color: #f9512e;
$main-color-dark: #b2341a;
$main-color-light: #fba28f;
$secondary-color: #1c1a26;
$footer-title-color: #7f8096;
$footer-color: #fff;
